@tailwind base;

[type=button],
[type=reset],
[type=submit],
button {
	--webkit-appearance: button;
	background-color: initial;
	background-image: initial;
	/* --webkit-appearance: button; */
	/* -background-color: transparent; */
	/* -background-image: none; */
}

@tailwind components;

@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Bahnschrift, Arial, Open Sans, Droid Sans, Helvetica Neue,
		sans-serif, Segoe UI, Roboto;
}

* {
	box-sizing: border-box;
	scrollbar-color: #cbd5e0 #f1f1f1;
	scrollbar-width: thin;
}
.alert-animation {
	animation: alertAnimation 1s ease-in;
}
.bg-dark-transparent {
	background: rgba(0, 0, 0, 0.7);
}
.bg-blue-image {
	@apply bg-primary-500;
	background-image: url(/images/bg.png);
}
.grow-down {
	animation: growDown 0.5s ease-in-out forwards;
	transform-origin: top center;
}
.main-container-width {
	@apply min-h-[75vh] w-full lg:ml-auto lg:w-5/6;
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 768px) {
	.md\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.lg\:grid-cols-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
	}
}
@keyframes alertAnimation {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}
@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	50% {
		transform: scaleY(0.5);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}

/* width */
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbd5e0;
	border: 3px sold #edf2f7;
	border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}
